#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 12em;
  height: 50em;
  margin: 2em;
  padding: 1em;

}


.fixed-top{

  background-color: #5998A6
}


.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #DAF7F3;
}

.navbar a:hover{
  color:#72DFD0
}

.cardContainer{
  object-fit: scale-down
}
.cardImage {
  height: 10em;
}

.read-the-docs {
  color: #888;
}

.offcanvas{
  /* display: flex;
  justify-content: center;
  align-items: center; */

}



body{
  padding-top: 70px;
}

#yarnPage{
font-size: x-large;

}

#yarnPageCol{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
